[submodule "webrtcpeer-android"]
	path = webrtcpeer-android
	url = https://github.com/nubomedia/webrtcpeer-android
[submodule "kurento-tree-client-android"]
	path = kurento-tree-client-android
	url = https://github.com/nubomedia/kurento-tree-client-android
[submodule "kurento-room-client-android"]
	path = kurento-room-client-android
	url = https://github.com/nubomedia/kurento-room-client-android
[submodule "jsonrpc-ws-android"]
	path = jsonrpc-ws-android
	url = https://github.com/nubomedia/jsonrpc-ws-android
[submodule "nubo-test-tree"]
	path = nubo-test-tree
	url = https://github.com/nubomedia/nubo-test-tree
[submodule "utilities-android"]
	path = utilities-android
	url = https://github.com/nubomedia/utilities-android
[submodule "nubomedia-repository-client"]
	path = nubomedia-repository-client
	url = https://github.com/nubomedia/nubomedia-repository-client
[submodule "nubomedia-media-client"]
	path = nubomedia-media-client
	url = https://github.com/nubomedia/nubomedia-media-client
[submodule "kurento-java"]
	path = kurento-java
	url = https://github.com/nubomedia/kurento-java
[submodule "kurento-utils-js"]
	path = kurento-utils-js
	url = https://github.com/nubomedia/kurento-utils-js
[submodule "kurento-room"]
	path = kurento-room
	url = https://github.com/nubomedia/kurento-room
[submodule "kurento-tree"]
	path = kurento-tree
	url = https://github.com/nubomedia/kurento-tree
[submodule "kurento-tutorial-java"]
	path = kurento-tutorial-java
	url = https://github.com/nubomedia/kurento-tutorial-java
[submodule "kurento-tutorial-node"]
	path = kurento-tutorial-node
	url = https://github.com/nubomedia/kurento-tutorial-node
[submodule "kurento-tutorial-js"]
	path = kurento-tutorial-js
	url = https://github.com/nubomedia/kurento-tutorial-js
[submodule "kurento-maven-plugin"]
	path = kurento-maven-plugin
	url = https://github.com/nubomedia/kurento-maven-plugin
[submodule "promisecallback"]
	path = promisecallback
	url = https://github.com/nubomedia/promisecallback
[submodule "nubomedia-graphedit"]
	path = nubomedia-graphedit
	url = https://github.com/nubomedia/nubomedia-graphedit
[submodule "NUBOMEDIA-VCA-JS-API"]
	path = NUBOMEDIA-VCA-JS-API
	url = https://github.com/nubomedia/NUBOMEDIA-VCA-JS-API
